* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Oswald-Bold";
  src: url(../fonts/Oswald-Bold.ttf);
}
@font-face {
  font-family: "Oswald-Light";
  src: url(../fonts/Oswald-Light.ttf);
}
@font-face {
  font-family: "Oswald-Regular";
  src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
  font-family: "Oswald-Medium";
  src: url(../fonts/Oswald-Medium.ttf);
}
body, html {
  min-height: 100%;
}

body {
  font-family: "Oswald-Regular" !important;
}

hr {
  margin: 17px 0;
  border: none !important;
  opacity: 1 !important;
  height: 5px !important;
  background-color: #D50302;
  width: 52px;
  border-radius: 4px !important;
}

a {
  text-decoration: none !important;
  font-size: 14px;
  font-family: "Oswald-Light" !important;
  color: #D50302;
}

p {
  font-family: "Oswald-Light" !important;
  font-size: 16px !important;
  color: #000;
}

h1 {
  font-size: 42px !important;
  font-family: "Oswald-Bold" !important;
}

h2 {
  font-size: 36px !important;
  font-family: "Oswald-Medium" !important;
}

h3 {
  font-size: 24px !important;
  font-family: "Oswald-Medium" !important;
}

h4 {
  font-size: 16px !important;
  font-family: "Oswald-Medium" !important;
}

h5 {
  font-size: 14px !important;
  font-family: "Oswald-Medium" !important;
}

h6 {
  font-size: 12px !important;
  font-family: "Oswald-Medium" !important;
}

@media (max-width: 1199px) {
  h1 {
    font-size: 36px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  h4 {
    font-size: 14px !important;
  }
  h5 {
    font-size: 12px !important;
  }
  h6 {
    font-size: 10px !important;
  }
}
.about-school, .select-sport, .trainer, .gallery, .contact, .feedback, .reviews, .news, .links, .post {
  margin: 106px 0 !important;
}

.navbar {
  padding: 27px 0 !important;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px 4px rgba(107, 107, 107, 0.2509803922);
          box-shadow: 0px 4px 10px 4px rgba(107, 107, 107, 0.2509803922);
}

.navbar-brand h4 {
  color: #000 !important;
}

.navbar-brand span {
  font-size: 12px !important;
  color: #D50302;
  display: block;
  margin-top: 17px;
}

@media (max-width: 1399px) {
  .navbar-brand h4 {
    font-size: 14px !important;
  }
}
@media (max-width: 1199px) {
  .navbar-brand h4 {
    font-size: 12px !important;
  }
  .navbar-brand span {
    font-size: 10px !important;
  }
}
@media (max-width: 991px) {
  .navbar-brand h4 {
    font-size: 14px !important;
  }
  .navbar-brand span {
    font-size: 12px !important;
  }
}
@media (max-width: 370px) {
  .navbar-brand h4 {
    font-size: 10px !important;
  }
  .navbar-brand span {
    font-size: 8px !important;
  }
}
@media (max-width: 991px) {
  .navbar-nav {
    margin-top: 32px;
    border-top: 1px solid rgba(107, 107, 107, 0.2509803922);
  }
}
.nav-link {
  color: #000 !important;
  font-size: 16px !important;
  font-family: "Oswald-Medium" !important;
  padding: 0 10px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.nav-link:hover {
  color: #D50302 !important;
}

@media (max-width: 991px) {
  .nav-item {
    margin: 17px 0;
  }
}
@media (max-width: 1399px) {
  .nav-link {
    font-size: 14px !important;
  }
}
@media (max-width: 1199px) {
  .nav-link {
    font-size: 12px !important;
  }
}
@media (max-width: 991px) {
  .nav-link {
    font-size: 16px !important;
  }
}
.navbar-toggler {
  border: 1px solid #000 !important;
  color: #000;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media (max-width: 370px) {
  .navbar-toggler {
    padding: 2px 4px !important;
  }
}
.nav-link.active {
  color: #D50302 !important;
}

.dropdown-menu {
  min-width: auto !important;
  padding: 0px !important;
  border: 1px solid #000 !important;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392) !important;
          box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392) !important;
  background: #000 !important;
  border-radius: 4px !important !important;
}

.dropdown-menu[data-bs-popper] {
  margin-top: 26px !important;
  border-radius: 4px !important !important;
}

@media (max-width: 991px) {
  .dropdown-menu[data-bs-popper] {
    margin-top: 16px !important;
  }
}
.dropdown-item {
  color: #000 !important;
  font-size: 16px !important;
  font-family: "Oswald-Medium" !important;
  padding: 10px 20px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
  color: #fff !important;
  border-radius: 4px !important !important;
}

.dropdown-item a {
  border-radius: 4px !important !important;
}

.dropdown-item:hover {
  color: #D50302 !important;
}

@media (max-width: 1399px) {
  .dropdown-item {
    font-size: 14px !important;
  }
}
@media (max-width: 1199px) {
  .dropdown-item {
    font-size: 12px !important;
  }
}
.carousel-caption {
  top: 35%;
}

.carousel-caption p {
  max-width: 500px;
  width: 100%;
  margin-bottom: 36px !important;
  color: #fff !important;
}

.carousel-item img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-indicators {
  top: 45%;
  margin-right: 15% !important;
  margin-left: auto !important;
  width: 72px !important;
}

@media (max-width: 814px) {
  .carousel-indicators {
    top: auto;
  }
}
@media (max-width: 1199px) {
  .dropdown-item {
    font-size: 12px !important;
  }
}
@media (max-width: 991px) {
  .dropdown-item {
    font-size: 16px !important;
  }
}
.carousel-indicators button {
  display: block !important;
}

.carousel-indicators [data-bs-target] {
  opacity: 1 !important;
  border-radius: 4px !important;
  border: none !important;
  margin: 33px 0;
  width: 36px !important;
  height: 5px !important;
  margin-right: 0 !important;
  margin-left: auto !important;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
}

.carousel-indicators .active {
  background-color: #D50302 !important;
  width: 72px !important;
}

.btn {
  color: #fff !important;
  background-color: #D50302 !important;
  padding: 20px !important;
  font-size: 16px;
  font-family: "Oswald-Medium" !important;
  border: 1px solid #D50302 !important;
  -webkit-transition: 0.7s ease !important;
  transition: 0.7s ease !important;
}

.btn a {
  color: #fff !important;
  font-family: "Oswald-Medium" !important;
  font-size: 16px !important;
}

@media (max-width: 991px) {
  .btn {
    font-size: 14px !important;
    padding: 15px !important;
  }
  .btn a {
    font-size: 14px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: 12px !important;
    padding: 10px !important;
  }
  .btn a {
    font-size: 12px !important;
  }
}
.btn:hover {
  color: #fff !important;
  background-color: #000 !important;
  padding: 20px !important;
  font-size: 16px;
  font-family: "Oswald-Medium" !important;
  border: 1px solid #D50302 !important;
}

.btn img {
  width: 20px;
  height: 20px;
  margin-left: 27px;
  margin-bottom: 5px;
}

.title-block h2 span {
  color: #D50302;
}

@media (max-width: 767px) {
  .title-block h2 {
    margin-top: 32px;
  }
}
.img-block img {
  width: 100%;
  max-height: 450px;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  border-radius: 4px !important;
}

.img-block {
  width: 100%;
  height: 100%;
}

.about-school .text-block p {
  margin-bottom: 17px !important;
}

.about-school .btn-block {
  margin-top: 8px !important;
}

.img-sport {
  width: 140px;
  height: auto;
}

@media (max-width: 767px) {
  .select-sport .col-xl-4 {
    height: 100%;
  }
}
.card {
  padding: 20px 26px !important;
  max-width: 364px;
  width: 100%;
  margin: 15px auto !important;
  border: none !important;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392);
          box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 15px 4px rgba(107, 107, 107, 0.3333333333) !important;
          box-shadow: 0px 0px 15px 4px rgba(107, 107, 107, 0.3333333333) !important;
}

@media (max-width: 991px) {
  .card {
    height: 100% !important;
  }
}
.card h3 {
  color: #000;
  margin-bottom: 10px !important;
  margin-top: 20px !important;
}

.card h6 {
  color: #D50302;
  margin-bottom: 11px;
}

.card p {
  margin-bottom: 11px;
}

.card a {
  color: #D50302;
  font-size: 14px;
}

.card a img {
  width: 16px;
  height: auto;
  margin-left: 4px;
}

.link-card {
  margin-top: 9px;
}

.thumbnail {
  padding: 0 12px;
}

.owl-carousel {
  -ms-touch-action: none;
      touch-action: none;
  position: relative;
  z-index: 1;
}

.select-sport .thumbnail, .trainer .thumbnail, .links .thumbnail {
  width: 100% !important;
  max-width: 100% !important;
  height: 100%;
}

.select-sport .owl-carousel .owl-stage, .trainer .owl-carousel .owl-stage, .links .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}

.select-sport .owl-stage-outer, .trainer .owl-stage-outer, .links .owl-stage-outer {
  padding: 0;
  overflow: hidden;
}

.select-sport .owl-carousel .owl-item, .trainer .owl-carousel .owl-item, .links .owl-carousel .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 auto;
          flex: 0 auto;
  width: 100%;
}

.select-sport .owl-carousel .owl-item .card {
  padding: 20px 26px !important;
  max-width: 364px;
  width: 100%;
  margin: 15px auto !important;
  border: none !important;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392);
          box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392);
}

.trainer .owl-carousel .owl-item .card, .links .owl-carousel .owl-item .card {
  padding: 0 !important;
  max-width: 364px;
  width: 100%;
  margin: 15px auto !important;
  border: none !important;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392);
          box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392);
}

.trainer .owl-carousel .owl-item .card .img-sport {
  width: 100% !important;
}

.trainer .owl-carousel .owl-item .card img {
  width: 100% !important;
  height: 291px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  .select-sport .owl-carousel .owl-item .card, .trainer .owl-carousel .owl-item, .links .owl-carousel .owl-item {
    max-height: 439.19px !important;
    height: 100% !important;
  }
}
@media (max-width: 767px) {
  .select-sport .owl-carousel .owl-item, .trainer .owl-carousel .owl-item, .links .owl-carousel .owl-item {
    height: 100% !important;
  }
}
.select-sport .owl-nav, .trainer .owl-nav, .links .owl-nav {
  display: none;
}

.select-sport .owl-dots button, .trainer .owl-dots button, .links .owl-dots button {
  max-width: 100px;
  width: 100%;
  height: 5px;
  border: none;
  margin: 0 16px;
  background: transparent;
}

.owl-prev, .owl-next {
  display: none;
}

.select-sport .owl-dots, .trainer .owl-dots, .links .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
}

.select-sport .owl-dots button, .trainer .owl-dots button, .links .owl-dots button {
  max-width: 36px !important;
  height: 5px;
  background: #000;
  border-radius: 4px !important;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.select-sport .owl-dot.active, .trainer .owl-dot.active, .links .owl-dot.active {
  background: #D50302 !important;
}

.gallery .img-block img {
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  max-height: 271px !important;
  height: 100%;
}

.gallery .col-7, .gallery .col-5 {
  margin-top: 17px !important;
}

.title-gallery {
  padding: 20px 26px !important;
}

.title-gallery h3 {
  color: #fff;
}

.title-gallery h3 span {
  color: #D50302;
}

.icon-block {
  padding-bottom: 39px !important;
}

.contact .line {
  margin-bottom: 58px;
}

.icon-block img {
  width: 21px;
  height: auto;
  margin-right: 32.79px;
}

.icon-block h4 {
  margin-bottom: 4px !important;
}

.form-control {
  height: 42px !important;
  border: 1px solid #000 !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 16px !important;
  border-radius: 4px !important !important;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.form-control:focus {
  border: 1px solid #D50302 !important;
}

.form-control::-webkit-input-placeholder {
  color: #000 !important;
  font-family: "Oswald-Light" !important;
  font-size: 16px !important;
}

.form-control::-moz-placeholder {
  color: #000 !important;
  font-family: "Oswald-Light" !important;
  font-size: 16px !important;
}

.form-control:-ms-input-placeholder {
  color: #000 !important;
  font-family: "Oswald-Light" !important;
  font-size: 16px !important;
}

.form-control::-ms-input-placeholder {
  color: #000 !important;
  font-family: "Oswald-Light" !important;
  font-size: 16px !important;
}

.form-control::placeholder {
  color: #000 !important;
  font-family: "Oswald-Light" !important;
  font-size: 16px !important;
}

textarea.form-control {
  height: 125px !important;
}

.feedback .line {
  margin-bottom: 32px;
}

.contact .btn-block {
  margin-top: 0 !important;
}

.feedback .btn-block .btn {
  margin-top: 9px !important;
}

.reviews .line {
  margin-bottom: 60px !important;
}

.reviews-block {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392);
          box-shadow: 0px 0px 10px 4px rgba(107, 107, 107, 0.1450980392);
  border-radius: 4px !important;
  padding: 20px 26px !important;
  max-width: 751px;
  width: 100% s;
}

.img-reviews img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -60px !important;
}

.reviews-text h3 {
  margin-top: 17px;
}

.reviews-text h6 {
  margin-top: 5px;
  color: #D50302;
}

.quotes {
  font-size: 100px !important;
  height: 35px;
  line-height: 100px;
  margin: 16px 0 !important;
}

.date-news {
  margin-top: 20px !important;
}

.type-sport {
  color: #000 !important;
}

@media (max-width: 767px) {
  .news .col-12 {
    margin-top: 32px;
  }
}
.news .card h3 {
  margin: 12px 0 !important;
}

.news .card {
  padding: 0px !important;
  margin: 0 auto !important;
}

.news .card-body {
  padding: 20px 26px !important;
}

.news .img-sport {
  width: 100%;
  height: 168px;
}

.news .img-sport img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news .btn-block {
  margin-top: 32px;
}

.links .img-link img {
  max-width: 170px;
  width: 100%;
  height: auto !important;
}

.links .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding: 53px 0;
  background-color: #000;
}

.footer h4 {
  color: #fff !important;
}

.list-group-item {
  border: none !important;
  background: transparent !important;
  color: #fff !important;
  font-size: 20px !important;
  font-family: "Oswald-Medium" !important;
  padding: 10px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.list-group-item a {
  color: #fff !important;
  font-size: 20px !important;
  font-family: "Oswald-Medium" !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.footer h3 {
  color: #fff;
}

.footer .line {
  margin-bottom: 16px !important;
}

.footer .contact-text p {
  color: #fff;
}

@media (max-width: 991px) {
  .footer .navbar-brand span {
    margin-bottom: 32px;
  }
}
@media (max-width: 575px) {
  .footer .title-block {
    margin-top: 32px;
  }
}
.bg-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.8))), url(../../assets/img/bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../../assets/img/bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 350px;
  margin-top: 100px;
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
}

@media (max-width: 1199px) {
  .bg-page {
    height: 200px !important;
  }
}
@media (max-width: 767px) {
  .bg-page {
    margin-top: 110px;
  }
}
@media (max-width: 370px) {
  .bg-page {
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .bg-page .title-block h2 {
    margin-top: 0 !important;
  }
}
.bg-page h2 {
  color: #fff;
}

.breadcrumb {
  margin-top: 15px;
}

.breadcrumb-item, .breadcrumb-item a {
  font-size: 14px;
  font-family: "Oswald-Medium" !important;
}

.breadcrumb-item a {
  color: #fff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.breadcrumb-item.active, .breadcrumb-item a:hover {
  color: #D50302 !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #fff !important;
}

.post .title-block {
  margin-top: 32px;
}

.last-posts .card {
  width: 100% !important;
  padding: 0 !important;
}

.last-posts .card-body {
  padding: 10px 13px !important;
}

.last-posts .img-sport {
  width: 100%;
}